main {
    flex-direction: row;
    min-height: 90vh;
}

.cartImg {
    width: 100%;
}
.summaryDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    
    
}
.summary {
    width: 80%;
    height: 90px;
    border-radius: 20px;
    color:#765F4E;
    
    font-weight: bolder;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.summaryHeader {
    font-size: 15px;
}
.totalContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.total, .totalPrice {
    font-size: 20px;
}
.mainCart {
    width: 60%;
    text-align: center;
}
.menu {
    padding: 10px;
    color: #765F4E;
}
.textHeader {
    font-size: 50px;
    font-weight: bold;
    color: #765F4E;
    
    
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article:last-child {
    border: none;
}
.cartItem {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 150px;
    border-bottom: 2px solid #919191;
    color: #765F4E;
    font-size: 30px;
    
}
.edit {
    color: #765F4E;
    font-size: 25px;
}
.edit:hover {
    cursor: pointer;
    opacity: .3;
}
.name {
    
    color: #000;
}
.price {
    color: #919191;
    font-size: 20px;
}
.fa-xmark {
    color: orangered;
  
}
.fa-xmark:hover {
    cursor: pointer;
    opacity: .5;
    transition: .2s ease-in;
}
main button {
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    background-color: #765F4E;
    border: 2px solid #765F4E;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    color: white;
   
    
}


button:hover {
    opacity: .9;
    cursor: pointer;
}
.mobileCheckout {
    
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #765F4E;
    background: white;
    display: none;
    
}
.summaryMobile {
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color:#765F4E;
    display: none;
}
.mobileCheckout {
    display: none;
}
.mobileButton {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

    display: none;
}
.checkoutButton2 {

}
@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .mobileButton {
        display: flex;
    }
    .summaryMobile {
        display: flex;
    }
    .mobileCheckout {
        display: block;
    }
    main button {
        width: 60%;
        padding: 15px;
        border-radius: 20px;
        background-color: #765F4E;
        border: 2px solid #765F4E;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
    .summaryDiv {
        display: none;
    }
    .mobileCheckout {
        display: block;
    }
    .cartItem {
        width: 100%;
        font-size: 20px;
    }
    article {
        width: 100%;
    }
    
    .mainCart {
        width: 90%;
        height: 80vh;
        
        overflow-y: scroll;
        
    }

}
