main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: static;
	gap: 30px;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
article:last-child {
	border: none;
}
.cartItem {
	display: flex;
	font-weight: bold;
	justify-content: space-around;
	align-items: center;
	width: 500px;
	height: 150px;
	border-bottom: 2px solid #919191;
	color: #765f4e;
	font-size: 30px;
}
.edit {
	color: #765f4e;
	font-size: 25px;
}
.edit:hover {
	cursor: pointer;
	opacity: 0.3;
}
.name {
	color: #000;
}
.price {
	color: #919191;
	font-size: 20px;
}
.fa-xmark {
	color: orangered;
}
.fa-xmark:hover {
	cursor: pointer;
	opacity: 0.5;
	transition: 0.2s ease-in;
}
main button {
	width: 30%;
	padding: 15px;
	border-radius: 20px;
	background-color: #765f4e;
	border: 2px solid #765f4e;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 20px;
	color: white;
}

button:hover {
	opacity: 0.9;
	cursor: pointer;
}
