main {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.summaryDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    
    
}
.summary {
    width: 80%;
    height: 90px;
    border-radius: 20px;
    color:#765F4E;
    
    font-weight: bolder;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.summaryHeader {
    font-size: 15px;
}
.totalContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    
}
.total, .totalPrice {
    font-size: 20px;
}
.mainCart {
    width: 60%;
    text-align: center;
}
.menu {
    padding: 10px;
    color: #765F4E;
}
.textHeader {
    font-size: 50px;
    font-weight: bold;
    color: #765F4E;
    
    
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartItem {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 150px;
    border-bottom: 2px solid #919191;
    color: #765F4E;
    font-size: 30px;
    
}
.manage {
    color: orangered;
}
.manage:hover {
    cursor: pointer;
    opacity: .0;
}
.name {
    
    color: #000;
}
.price {
    color: #919191;
    font-size: 20px;
}
.fa-xmark {
    color: orangered;
  
}
.fa-xmark:hover {
    cursor: pointer;
    opacity: .5;
    transition: .2s ease-in;
}
main button {
    width: 80%;
    padding: 15px;
    border-radius: 20px;
    background-color: #915B2F;
    border: 2px solid #915B2F;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    color: white;
   
    
}


button:hover {
    opacity: .9;
    cursor: pointer;
}

