main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}
#orders {
	width: 90%;
	text-align: center;
}
.tableHeader {
	background-color: #765f4e;
}
table button {
	border: none;
	padding: 10px;
	color: white;
	border-radius: 10px;
	font-size: 10px;
	font-family: 'Montserrat';
	min-width: 50px;
	transition: 0.2s ease-in-out;
}
.cancel {
	background-color: red;
}
.confirm {
	background-color: green;
}
.info {
	background-color: #765f4e;
}
table button:hover {
	cursor: pointer;
	opacity: 0.8;
}
tr {
	border: 1px solid black;
}
