* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat';
	font-size: 20px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
html {
	scroll-behavior: smooth;
}
.bars {
	display: none;
}
header {
	width: 100%;
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.logo {
	width: 100px;
}
a {
	text-decoration: none;
	font-weight: 600;
}

.bars {
	font-size: 30px;
}
.bars:hover {
	cursor: pointer;
	color: #ffe7d1;
}
.menuDesktop {
	color: white;
	width: 100%;
	padding: 10px;
	font-weight: bold;
}
.menuDesktopOther {
	color: #765f4e;
}
.menu {
	position: fixed;
	height: 100vh;
	background-color: #765f4e;
	z-index: 100;
	left: -100%;
	transition: 0.2s ease-in;
}
.menuClicked {
	width: 100%;
	left: 0;
}
.menuContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
.menuContent > a {
	height: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuContent > span:hover {
	cursor: pointer;
}
header {
	z-index: 100;
}

.menu:hover .menuDesktop:hover {
	transition: 0.2s ease-in;
	color: #ffe7d1;
}
footer {
	height: 100px;
	background-color: #765f4e;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: white;
}
footer input {
	width: 250px;
	padding: 15px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	font-size: 13px;
	letter-spacing: 1px;
}
#newsletter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
}
#newsletter span {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
a {
	text-decoration: none;
	color: black;
}
.btn {
	position: relative;
	left: -55px;
	background-color: white;
	border: 2px solid white;
	padding: 10px;
	color: #915b2f;
	border-radius: 20px;
}
.btn:hover {
	cursor: pointer;
	transition: 0.2s ease-in;
	color: #ffe7d1;
}
#social {
	font-size: 40px;
	display: flex;
	gap: 60px;
}
.fa-brands {
	color: white;
}
.fa-brands:hover {
	cursor: pointer;
	transition: 0.2s ease-in;
	color: #ffe7d1;
}
#nav {
	display: block;
	z-index: 110;
}
.cartNav {
	display: flex;
}
textarea:focus,
input:focus {
	outline: none;
}

@media only screen and (max-width: 1600px) {
	.img {
		width: 600px;
	}
}
@media only screen and (max-width: 1000px) {
	footer {
		display: none;
	}
	#nav {
		display: none;
	}
	.cartNav {
		display: none;
	}
	.bars {
		display: block;
	}
}
